<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Form Ubah Contact</h2>
      <% if(typeof errors != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% errors.forEach(error => { %>
          <li><% error.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>

      <form method="post" action="/contact/update">
        <input
          type="hidden"
          name="oldNama"
          value="<%= (contact.oldNama) ? contact.oldNama : contact.nama %>"
        />
        <div class="row mb-3">
          <label for="nama" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="nama"
              name="nama"
              required
              value="<%= contact.nama %>"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="<%= contact.email %>"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="noHP" class="col-sm-2 col-form-label">No HP</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="noHP"
              name="noHP"
              required
              value="<%= contact.noHP %>"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="alamat" class="col-sm-2 col-form-label">Alamat</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="alamat" name="alamat"
            required value="<%= contact.alamat %>"" />
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Ubah</button>
      </form>
    </div>
  </div>
</div>
